<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% extends 'base.html' %}
{% block content %}

<h2>Student Dashboard</h2>

<div class="card">
    <h3>My Profile</h3>
    <p>CGPA: {{ student.cgpa }}</p>
    <p>Branch: {{ student.branch }}</p>
    <p>Backlogs: {{ student.backlogs }}</p>
    <p>Domain: {{ student.domain }}</p>
</div>

<h3>Company Drives</h3>

{% for c in companies %}
<div class="card">
    <h4>{{ c.name }} — {{ c.role }}</h4>

    {% if c.eligible %}
        <p class="success">Eligible ✔</p>
        <p>{{ c.reason }}</p>
        <form method="POST" action="/apply/{{ c.id }}">
            <button>Apply</button>
        </form>
    {% else %}
        <p class="reason">Not Eligible ❌</p>
        <p>{{ c.reason }}</p>
    {% endif %}
</div>
{% endfor %}

{% endblock %}
