
body {
    background-color: #0f0f0f;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
}

.navbar {
    background: #111;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #333;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.card {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    background: #000;
    border: 1px solid #444;
    color: white;
    border-radius: 5px;
}

button {
    background: #6c5ce7;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #5a4bdc;
}

.reason {
    color: #ff7675;
    font-size: 14px;
}
.success {
    color: #00ff9d;
}
