{% extends 'base.html' %}

{% block content %}

<header class="main-header">
  <div class="logo-container">
    <img src="logo.png" alt="Company Logo" class="logo">
  </div>
  <nav class="nav-links">
    <a href="#home">Home</a>
    <a href="#about">About Us</a>
  </nav>
  </header>

<div class="page-wrapper">
   <div class="head">
    <!-- BIG HEADING -->
      <h2 class="page-title">Campus Placement Portal</h2>
      <h1>Choose Your Account Type</h1>
   </div>

  <!-- CARDS -->
  <div class="container">
      
    <div class="card">
      <h2>For Companies</h2>
      <p>
        Thousands of companies hire and upskill student developers across roles and careers.
      </p>

      <button onclick="window.location.href='{{ url_for('company_login') }}'">
        Login
      </button>

      <div class="signup">
        Sign Up
      </div>
    </div>

    <div class="card">
      <h2>For Students</h2>
      <p>
        Join millions of students, practice coding, prepare for interviews, and get hired.
      </p>

      <!-- FIXED: route name must exist in app.py -->
      <button onclick="window.location.href='{{ url_for('student_login') }}'">
        Login
      </button>

      <div class="signup">
        Sign up
      </div>
    </div>

  </div>
</div>

{% endblock %}
