<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<script src="{{ url_for('static', filename='serv.js') }}"></script>

{% extends 'base.html' %}
{% block content %}
<div class="card">
    <h3>Company Login</h3>
    <div class="form">
        <input type="email" id="email" placeholder="Company Email" required>
        <input type="password" id="password" placeholder="Password" required>

        <button onclick="compSignup(event)">Signup</button>
    </div>
</div>
{% endblock %}
